<config>
	<gateserver>
		<data>
			<port>4510</port>
		</data>
	</gateserver>

	<proxyserver>
		<data>
			<ip>127.0.0.1</ip>
			<port>4512</port>
			<heart_time>40000</heart_time> <!--The heartbeat interval between the inner server and the proxy server (ms)-->
		</data>
	</proxyserver>
	
	<!--Redis (defult cluster config)-->
	<cacheserver>
		<baseconfig>
			<data>
				<connect_timeout_sec>1</connect_timeout_sec>
				<connect_timeout_microsec>500000</connect_timeout_microsec>
			</data>
		</baseconfig>
		
		<!--Redis Cluster-->
		<cluster_server_list>
			<data>
				<seq>0</seq>
				<ip>192.168.43.122</ip>
				<port>7000</port>
				<auth_password>123456</auth_password>
			</data>
			<data>
				<seq>1</seq>
				<ip>192.168.43.122</ip>
				<port>7001</port>
				<auth_password>123456</auth_password>
			</data>
			<data>
				<seq>2</seq>
				<ip>192.168.43.122</ip>
				<port>7002</port>
				<auth_password>123456</auth_password>
			</data>
			<data>
				<seq>3</seq>
				<ip>192.168.43.122</ip>
				<port>7003</port>
				<auth_password>123456</auth_password>
			</data>
			<data>
				<seq>4</seq>
				<ip>192.168.43.122</ip>
				<port>7004</port>
				<auth_password>123456</auth_password>
			</data>
			<data>
				<seq>5</seq>
				<ip>192.168.43.122</ip>
				<port>7005</port>
				<auth_password>123456</auth_password>
			</data>
		</cluster_server_list>
	</cacheserver>
	
	<dbserver>
		<data>
			<ip>192.168.43.122</ip>
			<port>5432</port>
			<username>postgres</username>
			<dbname>postgres</dbname>
			<password>123456</password>
		</data>
	</dbserver>
	
</config>